/* styled radio buttons of car choice with background image instead of normal circles */
.car-selector {
  width: auto;
  display:block;
}

.car-selector input {
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.mercedes{
  color: transparent;
  background: $images red;
  background-position: 0 -170px;
  width: 100px;
  text-indent: -9999px;
  height: 100px;
}
.audi{
  background: $images red;
  background-position: 0 -275px;
  width: 100px;
  height: 100px;
  text-indent: -9999px;
  color: transparent;
}

.car-selector input:active +.car{
  opacity: .9;}
.car-selector input:checked +.car{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.car{
    cursor:pointer;
    display:inline-block;
    float: left;
    margin: 0 3%;
    width: 100px;
    height:100px;
    transition: all 0.3s ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.car:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}
/* styled radio buttons of emoticons with background image instead of normal circles */
.face-selector {
  display:block;
  margin: 0 auto;
}

.face-selector input {
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.amazing{
  color: transparent;
  background: $images red;
  background-position: 0 -390px;
  width: 48px;
  text-indent: -9999px;
  height: 48px;
  border-radius: 24px;
}

.happy{
  color: transparent;
  background: $images red;
  background-position: 0 -447px;
  width: 48px;
  height: 48px;
  text-indent: -9999px;
  border-radius: 24px;
}

.sad{
  color: transparent;
  background: $images red;
  background-position: 0 -506px;
  width: 48px;
  height: 48px;
  text-indent: -9999px;
  border-radius: 24px;
}

.face{
    cursor:pointer;
    display:inline-block;
    float: left;
    margin: 0 5%;
    width: 48px;
    height:48px;
    transition: all 0.3s ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.face:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.face-selector input:active +.face{
  opacity: .9;}
.face-selector input:checked +.face{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
