.col-100 {
  display: inline-block;
  width: 90%;
  margin: $margin-rows;
  padding: $padding-rows;
  input {
    width: 100%;
  }
}

.col-select {
  display: inline-block;
  width: 90%;
  background: $images #fff;
  text-indent: 25px;
  background-position: 0 -27px;
  margin: $margin-select;
  input {
    width: 100%;
  }
}
.col-select:focus {
  border: red;
}
