@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #335464; }

/*set some SASS variables to use in form style*/
/* Add some layout, position elements correctly on screen */
.col-100 {
  display: inline-block;
  width: 90%;
  margin: 15px 0 15px 0;
  padding: 0 5% 0 5%; }
  .col-100 input {
    width: 100%; }

.col-select {
  display: inline-block;
  width: 90%;
  background: url("arrow-down.png") no-repeat right #fff;
  margin: 0 5% 0 5%; }
  .col-select input {
    width: 100%; }

.col-select:focus {
  border: red; }

/* Form styling */
fieldset {
  border: 0; }

h4 {
  font: 300 36px/1.8 "Open Sans", sans-serif;
  font-size: 26px;
  color: red;
  padding: 10px 0 0 5px; }

legend {
  color: red;
  padding: 10px 0 0 5px;
  font: 300 36px/1.8 "Open Sans", sans-serif; }

form {
  margin: 0 auto;
  background-color: #F7F7F7;
  max-width: 500px;
  box-shadow: 2px 2px 3px #000; }

label {
  display: block; }

input {
  border: none;
  padding: 9px 0px 9px 6px;
  margin: 5px 1px 3px 0px;
  display: block;
  border-bottom: solid 3px transparent;
  transition: ease-in 0.3s; }

input:focus, textarea:focus, select:focus {
  outline: none;
  border: none;
  border-bottom: solid 3px #B8C4B6; }

input[type=radio] {
  border-bottom: 0; }

textarea {
  border: none;
  border-bottom: solid 3px transparent;
  transition: ease-in 0.3s; }

select {
  padding: 12px 0px 12px 6px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

select:focus {
  border-bottom: solid 3px #B8C4B6; }

textarea {
  width: 100%;
  max-width: 100%; }

/* styled radio buttons of car choice with background image instead of normal circles */
.car-selector {
  width: auto;
  display: block; }

.car-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.mercedes {
  background: url("audi.png") red;
  background-position: center;
  color: transparent; }

.audi {
  background: url("audi.png") red;
  background-position: center;
  color: transparent; }

.car-selector input:active + .car {
  opacity: .9; }

.car-selector input:checked + .car {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none; }

.car {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: 0 5%;
  width: 40%;
  height: 120px;
  transition: all 0.3s ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7); }

.car:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9); }

/* styled radio buttons of emoticons with background image instead of normal circles */
.face-selector {
  display: block;
  margin: 0 auto; }

.face-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.amazing {
  background: url("sad.png") red;
  background-position: center;
  color: transparent;
  border-radius: 24px; }

.sad {
  background: url("sad.png") red;
  background-position: center;
  color: transparent;
  border-radius: 24px; }

.happy {
  background: url("sad.png") red;
  background-position: center;
  color: transparent;
  border-radius: 24px; }

.face {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: 0 5%;
  width: 48px;
  height: 48px;
  transition: all 0.3s ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7); }

.face:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9); }

.face-selector input:active + .face {
  opacity: .9; }

.face-selector input:checked + .face {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none; }

/* style submit button */
button {
  width: 90%;
  padding: 9px 0px 9px 6px;
  margin: 30px 5% 30px 5%;
  border: solid 2px #D8DFDD;
  font-size: 22px;
  color: #D8DFDD;
  background: transparent;
  transition: ease-in 0.3s; }

button:hover {
  border: solid 2px red;
  color: red;
  cursor: pointer; }

button:focus {
  border: solid 2px red;
  background: url("check.png") no-repeat center red;
  color: transparent; }

/*# sourceMappingURL=styles.css.map */
