@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #335464;
}

/*set some SASS variables to use in form style*/
$title-font: 300 36px/1.8 'Open Sans', sans-serif;
$margin-rows: 15px 0 15px 0;
$padding-rows: 0 5% 0 5%;
$margin-select: 0 5% 0 5%;
$color-input: #B8C4B6;
$color-header: red;
$padding-input: 9px 0px 9px 6px;

/* Add some layout, position elements correctly on screen */
.col-100 {
  display: inline-block;
  width: 90%;
  margin: $margin-rows;
  padding: $padding-rows;
  input {
    width: 100%;
  }
}

.col-select {
  display: inline-block;
  width: 90%;
  background: url('arrow-down.png') no-repeat right #fff;
  margin: $margin-select;
  input {
    width: 100%;
  }
}
.col-select:focus {
  border: red;
}

/* Form styling */
fieldset {
    border: 0;
}

h4 {
    font: $title-font;
    font-size: 26px;
    color: $color-header;
    padding: 10px 0 0 5px;
  }

legend {
  color: $color-header;
  padding: 10px 0 0 5px;
  font: $title-font;
}

form {
  margin: 0 auto;
  background-color: #F7F7F7;
  max-width: 500px;
  box-shadow: 2px 2px 3px #000 ;
}

label {
  display: block;
}

input{
  border: none;
  padding: $padding-input;
  margin: 5px 1px 3px 0px;
  display: block;
  border-bottom: solid 3px transparent;
  transition: ease-in 0.3s;
}
input:focus, textarea:focus, select:focus {
  outline: none;
  border: none;
  border-bottom: solid 3px $color-input;
}

textarea {
  border: none;
  border-bottom: solid 3px transparent;
  transition: ease-in 0.3s;
}

select {
  padding: 12px 0px 12px 6px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  border-bottom: solid 3px $color-input;
}

textarea {
  width: 100%;
  max-width: 100%;
}
