@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Oswald:300);
body, input, textarea, select {
  font-family: 'Open Sans', sans-serif;
  color: #CC3D49; }
  body h4, input h4, textarea h4, select h4 {
    font-size: 24px;
    color: #CC3D49;
    text-align: center; }

input:focus, textarea:focus, select:focus {
  outline: none;
  border-bottom: solid 3px #CC3D49; }

input[type="radio"] {
  border-bottom: none; }
  input[type="radio"]:hover {
    border-bottom: none; }

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset;
  border-bottom: solid 3px #CC3D49;
  text-indent: 10px; }

textarea {
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  padding: 0; }

body {
  background-color: #335464;
  color: black; }
  body form {
    margin: 0 auto;
    padding: 25px 0px;
    width: 500px;
    background-color: #f5f5f5;
    background-color: rgba(245, 245, 245, 0.95);
    border-top: solid 5px #CC3D49;
    box-shadow: 2px 2px 3px #000; }
    body form fieldset {
      border: 0;
      width: 450px;
      padding: 25px; }
      body form fieldset legend {
        color: #CC3D49;
        text-align: center;
        border-bottom: solid 3px #CC3D49;
        width: 100%;
        padding: 10px 0 0 0;
        font: 300 36px 'Oswald', sans-serif; }
    body form input {
      border: none;
      padding: 10px 0;
      margin: 10px 0;
      width: 100%;
      transition: ease-in 0.3s;
      text-indent: 35px;
      border-bottom: solid 3px transparent; }
      body form input.name-icon {
        background: url("images.png") no-repeat top left #fff;
        background-position: 5px 8px; }
      body form input.mail-icon {
        background: url("images.png") no-repeat top left #fff;
        background-position: 5px -59px; }
      body form input.phone-icon {
        background: url("images.png") no-repeat top left #fff;
        background-position: 5px -92px; }
    body form select {
      padding: 10px 0px 10px 6px;
      width: 100%;
      margin-top: 10px;
      border: none;
      text-indent: 30px;
      transition: ease-in 0.3s;
      background: url("images.png") no-repeat top left #fff;
      background-position: 5px -25px;
      border-bottom: solid 3px grey;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
    body form .car-selector label {
      color: white;
      display: none; }
      body form .car-selector label + input {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        width: 200px;
        margin: 10px 10px;
        height: 120px; }
        body form .car-selector label + input:focus {
          outline: none; }
        body form .car-selector label + input.audi {
          background: url("images.png") no-repeat top left #6c6d6d;
          background-position: 50% -160px; }
          body form .car-selector label + input.audi:hover {
            background-color: #CC3D49;
            cursor: pointer; }
          body form .car-selector label + input.audi:checked {
            background-color: #e8535f; }
        body form .car-selector label + input.mercedes {
          background: url("images.png") no-repeat top left #6c6d6d;
          background-position: 50% -270px; }
          body form .car-selector label + input.mercedes:hover {
            background-color: #CC3D49;
            cursor: pointer; }
          body form .car-selector label + input.mercedes:checked {
            background-color: #e8535f; }
    body form textarea {
      border: solid 3px transparent;
      width: 100%;
      margin-top: 10px;
      transition: ease-in 0.3s;
      font-family: 'Open Sans', sans-serif; }
    body form .face-selector label {
      color: white;
      display: none; }
      body form .face-selector label.amazing + input {
        margin-left: 101px;
        background: url("images.png") no-repeat top left #6c6d6d;
        background-position: 0 -390px; }
      body form .face-selector label.happy + input {
        background: url("images.png") no-repeat top left #6c6d6d;
        background-position: 0 -448px; }
      body form .face-selector label.sad + input {
        background: url("images.png") no-repeat top left #6c6d6d;
        background-position: 0 -506px; }
      body form .face-selector label + input {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        width: 48px;
        margin: 10px 25px;
        height: 48px;
        border-radius: 24px;
        cursor: pointer; }
        body form .face-selector label + input:hover {
          background-color: #CC3D49; }
        body form .face-selector label + input:checked {
          background-color: #e8535f; }
    body form .btn {
      width: 450px;
      margin: 0 25px;
      padding: 10px 0;
      text-align: center;
      border: solid 3px #6b6b6b;
      font-size: 26px;
      color: #6b6b6b;
      cursor: pointer;
      background: transparent; }
      body form .btn:hover {
        border: solid 3px #CC3D49;
        color: #CC3D49; }
      body form .btn:focus {
        background: url("images.png") no-repeat top left #6c6d6d;
        background-position: 213px -123px;
        color: transparent;
        text-indent: -9999;
        right: 0; }

/*# sourceMappingURL=styles.css.map */
