/*import fonts from google*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Oswald:300);

/*Set basic body style*/
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #335464;

}
/*set some SASS variables to use in form style*/
/*font style*/
$title-font: 300 36px/1.8 'Open Sans', sans-serif;
$title-font-oswald: 300 36px 'Oswald', sans-serif;
/*basic row style for form elements*/
$margin-rows: 15px 5% 15px 5%;
$padding-rows: 0 5% 0 5%;
$margin-select: 0 5% 0 5%;
/*basic color used for input and headers*/
$color-input: #CC3D49;
$color-header: #CC3D49;
/*padding for input*/
$padding-input: 9px 0px 9px 6px;
/*Single image sprite for all icons*/
$images: url('images.png') no-repeat top left;
@mixin centerer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
/*default header style*/
h4 {
    font: $title-font-oswald;
    -webkit-margin-before: 0;
    -webkit-margin-after: 20px;
    color: $color-header;
    padding: 10px 0 0 5px;
  }

  /* style submit button */
  .btn {
    width: 90%;
    padding: $padding-input;
    margin: 30px 5% 30px 5%;
    border: solid 2px #6b6b6b;
    font-size: 22px;
    color: #6b6b6b;
    background: transparent;
  }

  .btn:hover {
    border: solid 2px $color-header;
    color: red;
    cursor: pointer;
  }

  .btn:focus {
    border: solid 2px $color-header;
    background: $images $color-header;
    background-position: 60% -127px;
    color: transparent;
    text-indent: -9999;
    right: 0;
  }

/* Add some layout, position elements correctly on screen */
@import "layout";
/*Basic form styling */
@import "form";
/*custom radio buttons with background image */
@import "custom-radio-btn";
